<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
</head>

<body>

    <div class="loginpage ">
        <form action="login" method="POST" class="log-in">
            <img src="debug img.jpg" id="img" alt="this is image">
            <div class="">
            <h1 class="title">Login</h1>

            <label for="log-username"></label>
            <input type="email" placeholder="Username" minlength="4" maxlength="20" id="log-username"
                name="email">
            <label for="log-password"></label>
            <input type="password" placeholder="Password"  maxlength="50" id="log-password"
                name="password">

            <input type="submit" id="submit" action="#">
        </div>
        </form>
    </div>

</body>
<script src="js/animation.js"></script>
</html>