* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(47, 47, 47);
}

.log-in {
    background: rgb(67, 67, 67);
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: aliceblue;
    margin-left: 40%;
    margin-top: 10%;
}

.title {
    padding-top: 30px;
}

#log-username {
    display: block;
    text-align: center;
    border: 2px solid rgb(50, 197, 255);
    border-radius: 40px;
    padding: 11px 30px;
    width: 160px;
    background: none;
    margin: 20px auto;
    transition: 0.25s;
    color: aliceblue;
}

#log-password {
    display: block;
    text-align: center;
    border: 2px solid rgb(50, 197, 255);
    border-radius: 40px;
    padding: 11px 30px;
    width: 160px;
    background: none;
    margin: 20px auto;
    transition: 0.25s;
    color: aliceblue;
}

#submit {
    border: 2px solid rgb(17, 255, 96);
    background: rgb(17, 255, 96);
    color: aliceblue;
    padding: 11px 20px;
    border-radius: 40px;
    margin-bottom: 30px;
    width: 100px;
    transition: 0.25s;
}

#log-username:hover, #log-password:hover {
    width: 200px;
}

#submit:hover {
    cursor: pointer;
    width: 120px;
}

#img {
     width: 40%;
     margin-top: 10px;
     border-radius: 300px;
}



.hide-section{
    opacity: 0;
}

.hige-form{
    padding: 0;
    padding-top: 27px;
}

.hide-login{
    width: 165px;
    height: 167px;
    border-radius: 50%;
}


